*.cls
*.aux
*.out
*.synctex.gz
*.log
*.fls
*.fdb_latexmk
.vs/
__pycache__/

# showcase build intermediates (tooling is committed; samples/images/HTML are not)
showcase/samples/
showcase/pages/
showcase/showcase.html
